h1, h2 {
  text-align: center;
}

body {
  font-size: 18px;
  display: block;
}

.wrapper {
  max-width: 1296px;
  margin: auto;
}

.iframe-wrapper {
  text-align: center;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

iframe {
  margin: auto;
}
